.button {
    background-color: #E76F51;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
}
.grayscale-image {
    filter: grayscale(1);
}
.fas{
    color: goldenrod;
}