/***************
google font import 
 ***************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/***************
 bootstrap overriting styles
****************/
body {
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: #264653;
}
.button {
    background-color: #E76F51;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}
.red-text{
    color: #E76F51;
}
.grayscale-image {
    filter: grayscale(1);
}
.fas{
    color: #E77C40;
}